body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, monospace;
    letter-spacing: 0.03em;
  }
  .section {
    padding-top: 94px;
    margin: 0px;
  }