.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
.header__container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }