.feature__section {
  padding-top: 94px;
}
.feature__list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  gap: 30px;
}
.feature__item {
  margin-bottom: 0px;
}
.feature__icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}
.feature__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
